<div class="home-container">
  <h1>Bienvenido a Dragon Ball Wiki</h1>
  <p class="description">
    Una wiki dedicada a los personajes, planetas y sagas del universo Dragon Ball.
  </p>

  <div class="stats">
    <p><strong>Más de 50</strong> personajes | <strong>Más de 20</strong> planetas </p>
  </div>

  <div class="button-container">
    <button class="explore-button">Explorar Personajes</button>
    <button class="explore-button1">Explorar Planetas</button>
  </div>

  <h1>Galería</h1>
  <div class="gallery">
    <img src="assets/img/goku.png" alt="Goku" />
    <img src="assets/img/db1.png" alt="Vegeta" />
    <img src="assets/img/db2.png" alt="Broly" />
    <img src="assets/img/db3.png"/>
    <img src="assets/img/db4.png"/>
    <img src="assets/img/db5.png"/>
    <img src="assets/img/db6.png" />
    <img src="assets/img/db7.png"/>
    <img src="assets/img/db8.png"/>
    <img src="assets/img/db9.png" />
  </div>
</div>

