<nav class="navbar">
  <div class="navbar-left">
    <span class="brand">Dragon Ball Wiki</span>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/personajes" routerLinkActive="active">Personajes</a>
    <a routerLink="/planetas" routerLinkActive="active">Planetas</a>
  </div>

  <div class="navbar-right">
    <a *ngIf="rolUsuario === 'admin'" routerLink="/agregar-personaje" class="btn btn-primary">
      Agregar nuevo personaje
    </a>
    <a *ngIf="rolUsuario === 'admin'" routerLink="/aceptar-personaje" class="btn btn-warning">
      Aceptar personajes
    </a>

    <a *ngIf="rolUsuario === 'usuario'" routerLink="/agregar-personaje" class="btn btn-primary">
      Agregar nuevo personaje
    </a>

    <button *ngIf="!usuarioLogueado" routerLink="/login" class="sign-in-btn">
      👤 Iniciar sesión
    </button>

    <button *ngIf="usuarioLogueado" routerLink="/profile" class="profile-btn">
      👤 Perfil
    </button>
  </div>
</nav>
