<nav class="navbar">
   <div class="navbar-left">
    <span class="brand">Dragon Ball Wiki</span>
    
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    <a [routerLink]="['/personajes']" [routerLinkActive]="['active']">Personajes</a>
  </div>

  <div class="navbar-right">
    <a routerLink="/agregar-personaje" class="btn btn-primary">Agregar nuevo personaje</a>
    <button *ngIf="!usuarioLogueado" routerLink="/login" class="sign-in-btn">
      👤 Sign In
    </button>

    <button *ngIf="usuarioLogueado" routerLink="/profile" class="profile-btn">
      👤 Profile
    </button>
  </div>
</nav>