<!-- <nav class="navbar">
  <div class="navbar-left">
    <span class="brand">Dragon Ball Wiki</span>
    
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    <a [routerLink]="['/personajes']" [routerLinkActive]="['active']">Personajes</a>
  </div>

  <div class="navbar-right">
    <span class="icon">💬</span>
    <span class="icon">🌙</span>
    <button *ngIf="!usuarioLogueado" routerLink="/login">👤 Sign In</button>
    <button *ngIf="usuarioLogueado" routerLink="/profile">👤 Profile</button>
  </div>
</nav> -->
<app-navbar></app-navbar>
<router-outlet />